<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '250106438686533',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.5'
    });

    FB.Event.subscribe("auth.login", function() {
      FB.getAuthResponse();
      FB.api('/me', 'GET',  function(response){
        $.post('/fblogin', {name: response.name, id: response.id}, function(data){
          console.log("Logged in")
        });
      });
    });
    FB.Event.subscribe("auth.logout", function() {
      $.post('/fblogout', function(data){
        console.log("Logged out")
      });
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=564370180386369";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
