      <!--recently viewed list-->
      <div class="col-md-4">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Recently Viewed</th>
                </tr>
              </thead>
              <tbody>
                {{#each recentlyViewed}}
                <tr>
                  <td><a href="{{threadURL}}">{{threadName}}</a></td>
                <tr>
                {{/each}}
              </tbody>
            </table>
          </div><!--table-responsive-->
        </div><!--panel-body-->
      </div><!--col-md-4-->