      <!--recently viewed list-->
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Recently Viewed</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sample 1</td>
              <tr>
              <tr>
                <td>Sample 2</td>
              </tr>
            </tbody>
          </table>
        </div><!--table-responsive-->
        
      </div><!--col-md-4-->