<!DOCTYPE html>
<html>
{{> metadata}}
<link rel="stylesheet" href="/css/forum.css">
<body>
    {{> facebook}} {{> navbar}}

  <div class="container pushFooter">
    <div class="forum-header">
      <h2>Create a New Topic</h2>
    </div>
    <div class="row">

      <!--category table-->
      <div class="col-md-8 no-padding">
        <form>
          <fieldset class="form-group">
            <input type="text" class="form-control" id="topic-title" placeholder="Write a descriptive title"></input>
            <textarea class="form-control" id="topic-content" rows="10" placeholder="Elaborate and provide more details"></textarea>
          </fieldset>
          <button id="submit-btn" type="submit">Submit</button>
        </form>
      </div><!--col-md-8-->

      {{> recentlyViewed}}


    </div><!--row-->
  </div><!--contianer-->


  <footer>Team M, COGS 121 Spring 2016</footer>
</body>

</html>
