<!-- <html><head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="map" style=""></div>

  <script src="/js/jquery.min.js"></script>

  <script src="/js/d3.min.js"></script>
  <script src="/js/queue.min.js"></script>
  <script src="/js/topojson.min.js"></script>

  <script src="/js/map.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>
{{> metadata}}
<link rel="stylesheet" href="/css/forum.css">

<body>
    {{> facebook}} {{> navbar}}

    <div class="container pushFooter">
        <h2>Forum {{topicTitle}}</h2>
        <div class="row">

            <!--category table-->
            <div class="col-md-8">
                {{#if breadcrumb}}
                <a href="/forum">forum</a> > <b>{{breadcrumb}}</b> {{/if}}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <!--icon-->
                                </th>
                                <th>Category</th>
                                <th>No. of Sub Categories</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each category}}
                            <tr>
                                <td>{{icon}}</td>
                                <td><a id="topicID" href="/topic?cat={{url}}">{{categoryName}}</a></td>
                                <td>{{count}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!--table-responsive-->
            </div>
            <!--col-md-8-->

            <!--recently viewed list-->
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recently Viewed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample 1</td>
                                <tr>
                                    <tr>
                                        <td>Sample 2</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
                <!--table-responsive-->

            </div>

        </div>
    </div>


    <footer>Team M, COGS 121 Spring 2016</footer>
</body>

</html>
