<!DOCTYPE html>
<html>
{{> metadata}}
<link rel="stylesheet" href="/css/forum.css">
<body>
    {{> facebook}} {{> navbar}}

    <div class="container pushFooter">
        <div class="forum-header">
          <h2>Discussion Forum</h2>
        </div>
        <div class="row">

            <!--category table-->
            <div class="col-md-8 no-padding">
                <div class="panel-body forum-margin-btm">
                    {{#if breadcrumb}}
                    <a href="/forum">Forum</a> > <b>{{breadcrumb}}</b>
                    {{/if}}
                    <div class="table-responsive forum-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <!--icon-->
                                    </th>
                                    <th>Category</th>
                                    <th>No. of Sub Categories</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each category}}
                                <tr>
                                    <td><img src="{{icon}}" width="10px" height="auto"></td>
                                    <td>
                                       <a id="topicID" href="/topic?cat={{url}}">{{categoryName}}</a>
                                    <p>{{categoryDescription}}</p>
                                 </td>
                                    <td>{{count}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div><!--forum-background-->
                </div><!--table-responsive-->
            </div><!--col-md-8-->

            {{> recentlyViewed}}

        </div><!--row-->
    </div><!--container-->


    <footer>Team M, COGS 121 Spring 2016</footer>
</body>

</html>
