{{> metadata}}

<html>
<head>
  <meta charset="utf-8">

  <title>POLLR</title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
  {{> facebook}}
  {{> navbar}}

  <div id="landing-page" class="container-fluid fill">
    <div id="landing-image"></div>
  </div><!--landing-image-->

  <div id="features" class="container-fluid fill">
    <div class="row">
      <div class="col-md-6">
        <h2>Map Tagline</h2>
        <p>Sed consequat non tellus ac condimentum. Vestibulum dictum aliquet neque. Donec accumsan augue a vestibulum efficitur. Mauris eget odio ut tellus interdum lobortis. Quisque volutpat felis a odio sollicitudin, eu tristique ex imperdiet. Aenean pretium lacus quis laoreet consequat. Donec ullamcorper maximus ex nec commodo. Quisque pulvinar augue felis, at cursus augue facilisis quis. Morbi tincidunt, sapien ut malesuada varius, augue neque iaculis dui, nec hendrerit dolor ante sit amet leo. Cras congue metus vitae interdum mattis. Donec a fringilla mi. Nunc iaculis mauris ac mauris aliquam placerat. Maecenas pulvinar nisi ac mauris pharetra faucibus.
      </div>
      <div class="col-md-6">
        <div class="maptagline-img"></div><!--TOOD: PLACEHOLDER-->
      </div>
    </div>
    <div id="background-primary"></div>
  </div><!-- #features-->

  <div id="dashboard-tagline" class="container-fluid fill">
    <div class="row">
      <div class="col-md-6">
        <div class="dashboard-img"></div><!--TOOD: PLACEHOLDER-->
      </div>
      <div class="col-md-6">
        <h2>Dashboard Tagline</h2>
        <p>Sed consequat non tellus ac condimentum. Vestibulum dictum aliquet neque. Donec accumsan augue a vestibulum efficitur. Mauris eget odio ut tellus interdum lobortis. Quisque volutpat felis a odio sollicitudin, eu tristique ex imperdiet. Aenean pretium lacus quis laoreet consequat. Donec ullamcorper maximus ex nec commodo. Quisque pulvinar augue felis, at cursus augue facilisis quis. Morbi tincidunt, sapien ut malesuada varius, augue neque iaculis dui, nec hendrerit dolor ante sit amet leo. Cras congue metus vitae interdum mattis. Donec a fringilla mi. Nunc iaculis mauris ac mauris aliquam placerat. Maecenas pulvinar nisi ac mauris pharetra faucibus.
      </div>
    </div>
    <div id="background-secondary"></div>
  </div><!-- #map-tagline-->

  <div id="testimonials" class="container-fluid fill">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-md-6">
        Testi 1
      </div>
      <div class="col-md-6">
        Testi 2
      </div>
    </div>
    <div id="background-primary"></div>
  </div><!-- #testimonials-->

  <div class="footer navbar-fixed-bottom">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
