<!DOCTYPE html>
<html>
{{> metadata}}

<body>
    <!--{{> facebook}}-->{{> navbar}}
    <!-- <div class="map map-container">
        <div id="map" style=""></div>
    </div> -->

    <div class="results results-container">
        <div class="row search-bar-bg">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Search for a city to find a district">
                    <span class="input-group-btn">
                           <button id="search-btn" class="btn" type="button">Explore</button>
                     </span>
                </div>
            </div>
        </div>
        <div id="results-content">
            <h2><span id="rep-cd"></span> Congressional District</h2>
            <!-- <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <h5>Population</h5>
                            <p>
                                123,456
                            </p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <h5>Representative</h5>
                            <p>
                                Firstname Lastname
                            </p>
                        </div>
                    </div>
                    District Information (e.g. number, population)
                </div>
            </div> -->

            <div class="panel">
                <div class="panel-body">
                    <h5 id="rep-name">Rep. <span id="rep-firstname"></span> <span id="rep-lastname"></span></h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <h5>Political Party</h5>
                            <p>
                                <span id="rep-party"></span>
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <h5>Sponsored Issues</h5>
                            <p>
                                Issue 1, Issue 2, Issue 3, Issue 4, Issue 5
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">Demographics</button>
                            <button type="button" class="btn btn-default">Politics</button>
                            <button type="button" class="btn btn-default">Health</button>
                            <button type="button" class="btn btn-default">Crime</button>
                        </div>
                        <!-- <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="chart1"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="chart2"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="chart3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>Team M, COGS 121 Spring 2016</footer>
    </div>
    <!--end right side-->
    <div class="map map-container">
        <div id="map" style=""></div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/queue.min.js"></script>
    <script src="/js/topojson.min.js"></script>
    <script src="/js/map.js"></script>
</body>

</html>
