<!-- <html><head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="map" style=""></div>

  <script src="/js/jquery.min.js"></script>

  <script src="/js/d3.min.js"></script>
  <script src="/js/queue.min.js"></script>
  <script src="/js/topojson.min.js"></script>

  <script src="/js/map.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>
{{> metadata}}

<body>
    {{> facebook}} {{> navbar}}

    <div class="map map-container">
      <div id="map" style=""></div>

       <script src="/js/jquery.min.js"></script>

       <script src="/js/d3.min.js"></script>
       <script src="/js/queue.min.js"></script>
       <script src="/js/topojson.min.js"></script>

       <script src="/js/map.js"></script>
    </div>

    <div class="results results-container">
        <div class="row search-bar-bg">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Search for a city to find a district">
                    <span class="input-group-btn">
                           <button id="search-btn" class="btn" type="button">Explore</button>
                     </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <div id="results-content">
           <!-- <h2>51st Congressional District</h2> -->
        <div class="panel">
            <div class="panel-body">
               <h6>District</h6>
               <p>
                  51st
               </p>
               <h6>Population</h6>
               <p>
                  123,456
               </p>
               <h6>Representative</h6>
               <p id="rep">
                  Firstname Lastname
               </p>
                District Information (e.g. number, population)
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
               <h6>Rep. Firstname Lastname</h6>
               <h6>Political Party</h6>
               <p>
                  Strawberries
               </p>
               <h6>Terms Served</h6>
               <p>
                  2
               </p>
               <h6>Approval Rating</h6>
               <p>
                  000%
               </p>
               <h6>Sponsored Issues</h6>
               <p>
                  Issue 1
               </p>
               <p>
                  Issue 2
               </p>
                Congressional Representative Information (e.g. Name, political affliation, terms served, email, etc.)
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                District Statistics (donut charts)
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                overflow
            </div>
        </div>

     </div>
        <footer>Team M, COGS 121 Spring 2016</footer>
    </div> <!--end right side-->
</body>

</html>
