<!-- <html><head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="map" style=""></div>

  <script src="/js/jquery.min.js"></script>

  <script src="/js/d3.min.js"></script>
  <script src="/js/queue.min.js"></script>
  <script src="/js/topojson.min.js"></script>

  <script src="/js/map.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>
{{> metadata}}

<body>
    <!--{{> facebook}}--> {{> navbar}}
    <div class="map map-container">
        <div id="map" style=""></div>
    </div>

    <div class="results results-container">
        <div class="row search-bar-bg">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Search for a city to find a district">
                    <span class="input-group-btn">
                           <button id="search-btn" class="btn" type="button">Explore</button>
                     </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <div id="results-content">
            <h2>51st Congressional District</h2>
            <!-- <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <h6>Population</h6>
                            <p>
                                123,456
                            </p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <h6>Representative</h6>
                            <p>
                                Firstname Lastname
                            </p>
                        </div>
                    </div>
                    District Information (e.g. number, population)
                </div>
            </div> -->

            <div class="panel">
                <div class="panel-body">
                    <h6 id="rep-name">Rep. Firstname Lastname</h6>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <h6>Political Party</h6>
                            <p>
                                Republican
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <h6>Sponsored Issues</h6>
                            <p>
                                Issue 1, Issue 2, Issue 3, Issue 4, Issue 5
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                   <div class="row">
                      <div class="col-md-4">
                        <div id="chart1"></div>
                    </div>
                    <div class="col-md-4">
                      District Statistics (donut charts)
                  </div>
                 </div>
                </div>
            </div>
        </div>
        <footer>Team M, COGS 121 Spring 2016</footer>
    </div>
    <!--end right side-->

    <script src="/js/jquery.min.js"></script>

    <script src="/js/d3.min.js"></script>
    <script src="/js/queue.min.js"></script>
    <script src="/js/topojson.min.js"></script>

    <script src="/js/map.js"></script>
</body>

</html>
