<!DOCTYPE html>
<html>
{{> metadata}}
<link rel="stylesheet" href="/css/forum.css">
<body>
    {{> facebook}} {{> navbar}}
  <br><br>
  <div class="container pushFooter">
     <a href="/topicfeed">Back</a>
    <div class="row">
      <!--category table-->
      <div class="col-md-8 no-padding">
        <div class="panel-body forum-panel-btm">
        <div class="thread-body">
          <h3>{{threadTitle}}</h3>
          <div class="thread-byline"><h6>{{user}} &middot; {{posted}}</h6></div>
          <br>
          <div class="thread-content">{{threadContent}}</div>
          <br>
        </div><!--thread-body-->
     </div>
     <div class="panel-body forum-margin-btm">
        <div class="thread-comments">
          <form>
            <textarea class="form-control" id="thread-add-comment" rows="3" placeholder="Enter your comment here!"></textarea>
            <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br/>
          <h5>Comments ({{count}})</h5>
          <hr>
          {{#each comments}}
            {{user}} - {{posted}}
            <p>{{comment}}</p>
            <hr>
          {{/each}}
        </div><!--thread-comments-->
        </div><!--panel-body-->
        <br><br>
      </div><!--col-md-8-->

      {{> recentlyViewed}}
    </div><!--row-->
  </div><!--thread-->

  <footer>Team M, COGS 121 Spring 2016</footer>

  <script src="/js/jquery.min.js"></script>
  <script>
    $(function() {
      $('form').submit(function(e){
        e.preventDefault();

        var content = $('#thread-add-comment').val()

        $.post('/addComment', {
          user: '{{user}}',
          thread: '{{threadTitle}}',
          content: content
        }, function(){
          $('.thread-comments').append('{{user}} - Just Now <p>' + content + '</p><hr>');
        })

        $('#thread-add-comment').val('')
      })
    });
  </script>
</body>

</html>
