<!DOCTYPE html>
<html>
{{> metadata}}

<body>
    {{> facebook}} {{> navbar}}

  <div class="container pushFooter">
    <h2>Forum Topic</h2>
    <div class="row">

      <!--category table-->
      <div class="col-md-8">
        <hr>
        <div class="thread-body">
          <h3>{{threadTitle}}</h3>
          {{posted}}
          {{user}}
          <p>{{threadContent}}</p>
          <br>
        </div><!--thread-body-->
        <div class="thread-comments">
          <!-- <h5>Comments</h5>
          <form>
            <textarea class="form-control" id="thread-add-comment" rows="3" placeholder="Enter your comment here!"></textarea>
            <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br> -->
          <hr>
          {{#each comments}}
            {{user}}
            {{posted}}
            <p>{{comment}}</p>
            <hr>
          {{/each}}
        </div><!--thread-comments-->
        <h5>Comments</h5>
        <form>
          <textarea class="form-control" id="thread-add-comment" rows="3" placeholder="Enter your comment here!"></textarea>
          <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/><br/>
      </div><!--col-md-8-->

      <!--recently viewed list-->
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Recently Viewed</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sample 1</td>
              <tr>
              <tr>
                <td>Sample 2</td>
              </tr>
            </tbody>
          </table>
        </div><!--table-responsive-->

      </div>

    </div>
  </div>


  <footer>Team M, COGS 121 Spring 2016</footer>
</body>

</html>
