<!DOCTYPE html>
<html>
{{> metadata}}

<body>
    {{> facebook}} {{> navbar}}

  <div class="container pushFooter">
    <h2>{{topicTitle}}</h2>
    <div class="row">

      <!--category table-->
      <div class="col-md-8">
        {{#if breadcrumb}}
          <a href="/forum">Forum</a> > <b>{{breadcrumb}}</b>
        {{/if}}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><!--icon--></th>
                <th>Category</th>
                <th>No. of Sub Categories</th>
              </tr>
              <div class="add-topic">
                {{#if button}}
                  <a class="btn btn-primary" href="/add-topic" role="button">Add {{button}}</a>
                {{/if}}
              </div>
            </thead>
            <tbody>
              {{#each topic}}
              <tr>
                <td>{{icon}}</td>
                <td><a id="topicID" href="/thread?={{id}}">{{categoryName}}</a></td>
                <td>{{count}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div><!--table-responsive-->
      </div><!--col-md-8-->

      <!--recently viewed list-->
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Recently Viewed</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sample 1</td>
              <tr>
              <tr>
                <td>Sample 2</td>
              </tr>
            </tbody>
          </table>
        </div><!--table-responsive-->

      </div>

    </div>
  </div>


  <footer>Team M, COGS 121 Spring 2016</footer>
</body>

</html>
