<!DOCTYPE html>
<html>
{{> metadata}}
<link rel="stylesheet" href="/css/forum.css">

<body>
    {{> facebook}} {{> navbar}}

    <div class="container pushFooter">
        <div class="forum-header">
            {{#if breadcrumb}}
            <span class="breadcrumb"><a href="/forum">Forum</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;{{breadcrumb}}</span> {{/if}}
            <h2>{{topicTitle}}</h2>
        </div>
        <div class="row">
            <!--category table-->
            <div class="col-md-8 no-padding">
                <div class="panel-body forum-margin-btm">
                    <div class="table-responsive">
                        <div class="add-topic">
                            <button type="button" id="new-topic" data-toggle="modal" data-target="#myModal">New Thread</button>
                            <!-- The Modal -->
                            <div id="myModal" class="modal ">
                                <!-- Modal content -->
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <span class="close">x</span>
                                        <h2>Create a New Thread</h2>
                                        <form>
                                            <fieldset class="form-group">
                                                <input id="topic" value="{{topic}}" hidden></input>
                                                <input id="username" value="{{username}}" hidden></input>
                                                <input type="text" class="form-control" id="topic-title" placeholder="Write a descriptive title"></input>
                                                <textarea class="form-control" id="topic-content" rows="10" placeholder="Elaborate and provide more details"></textarea>
                                                <button id="submit-btn" type="submit">Submit</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end modal -->
                        </div>
                        <!--add-topic-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Thread</th>
                                    <th>User</th>
                                    <th>No. of Threads</th>
                                </tr>
                            </thead>
                            <tbody id="topic-list">
                                {{#each topic-thread}}
                                <tr>
                                    <td><a id="topicID" href="/thread?thread={{threadName}}">{{threadName}}</a></td>
                                    <td>{{user}}</td>
                                    <td>{{count}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--table-responsive-->
                </div>
                <!--panel-body-->
            </div>
            <!--col-md-8-->

            {{> recentlyViewed}}

        </div>
        <!--row-->
    </div>
    <!--container-->


    <footer>Team M, COGS 121 Spring 2016</footer>
</body>
<script src="/js/modal-topicfeed.js"></script>

</html>
