// fonts
$body-font: 'Muli', Helvetica, sans-serif;
$heading-font: 'Playfair Display', Georgia, serif;

// colors
$black: #4A4A4A;
$grey: #F2F2F2;
$periwinkle: #4A90E2;
$lavander: #A0CCFF;
$light-blue: #15A8E0;
$bright-blue: #64D4FF;
$dark-blue: #1399CC;
$red-orange: #FD504A;

// mixins
@mixin heading($align, $weight: 400, $color: $black) {
   text-align: $align;
   font-weight: $weight;
   color: $color;
}

@mixin half-container($color) {
   position: absolute;
   background-color: $color;
}

@mixin link-transition {
   -webkit-transition: all 0.3s ease-in-out; /* Safari */
   transition: all 0.3s ease-in-out;
}
