@import "variables";
body,
html {
    height: 100%;
    font-family: $body-font;
    color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

.content-container {
   padding: 80px 150px;
    h2 {
        @include heading(center, 700, $light-blue);
        font-style: italic;
    }
    h3 {
      @include heading(left, 400, $red-orange);
   }
    h4 {
      @include heading(center, 300);
   }
}

#landing-image {
    //  @include landing-section($periwinkle);
    background-color: $periwinkle;
}

#call-to-action {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    h1 {
      font-size: 48px;
   }
   a {
      color: white;
      button {
          padding: 15px 30px;
          background-color: $periwinkle;
          border-radius: 3px;
          border: none;
      }
      button:hover {
        background-color: $lavander;
     }
   }
}

#primer {
    @include landing-section(white);
}

#so-what {
    @include landing-section($light-blue);
    color: $grey;
    text-align: center;
    h2 {
      color: white;
   }
   a {
      color: white;
      button {
         padding: 15px 30px;
         background-color: $bright-blue;
         border-radius: 3px;
         border: none;
      }
      button:hover {
         background-color: $dark-blue;
      }
   }
}
