@import "variables";

/* map styling */
path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

/* styling for the results */

@media (min-width: 1024px) {
   .results {
      width: 52%;
      height: calc(100% - 50px); /* minus height of nav bar */
      overflow: auto;
   }
   .map{
      width: 48%;
      height: calc(100% - 50px); /* minus height of nav bar */
      overflow: auto;
   }
}

.map-container {
   @include half-container($light-blue);
   right: 0;
}

.results-container {
   @include half-container($grey);
   left: 0;
}

#results-content {
   width: 93%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 70px;
   h2 {
      font-style: italic;
      font-weight: 700;
      color: $light-blue;
   }
}

/* search bar */
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

.btn {
   // border-left: 1px solid $grey;
   background-color: white;
}

.form-control {
   box-shadow: none;
   border: none;
   border-radius: 0px;
}

.search-bar-bg {
   z-index: 999;
   padding: 7px 0px;
   background-color: white;
   border-bottom: 1px solid $grey;
   position: fixed;
   box-shadow: 1px 1px 3px transparentize(#999, 0.1);
   width: 52%; /* only if container on left cause it spans the whole width */
}

/* panels */
.panel {
   border: none;
}

.panel-heading {
   background-color: $lavander;
   border-radius: 0;
}

.panel-body {
   background-color: white;
   border: 1px solid $darker-grey;
   h5 {
      color: $red-orange;
      font-family: $body-font;
      // text-transform: uppercase;
      font-weight: 700;
   }
   p {
      font-size: 1em;
   }
}

#rep-name {
   color: $light-blue;
}
