@import "variables";
body,
html {
    height: 100%;
    font-family: $body-font;
    color: $black;
}

/* navbar */
.navbar-default {
    z-index: 9999;
    background: none;
    margin: 0;
    background-color: $black;
    border: none;
    border-radius: 0;
    .navbar-header {
      a {
         color: $bright-blue;
         @include link-transition;
      }
      a:hover {
         color: transparentize($bright-blue, 0.7);
      }
   }
    .navbar-nav {
      li {
         a {
             font-family: $body-font;
             color: $bright-blue;
             @include link-transition;
         }
         a:hover {
            color: transparentize($bright-blue, 0.7);
         }
      }
   }
}
/* footer */
footer {
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: $black;
    color: $grey;
}
/* video */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.filter {
    display: table;
}

/* landing page */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

.content-container {
   padding: 80px 150px;
    h2 {
        @include heading(center, 700, $light-blue);
        font-style: italic;
    }
    h3 {
      @include heading(left, 400, $red-orange);
   }
    h4 {
      @include heading(center, 300);
   }
}

#landing-image {
    background-color: $periwinkle;
}

#call-to-action {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    h1 {
      font-size: 48px;
   }
   a {
      color: white;
      button {
          padding: 15px 30px;
          background-color: $periwinkle;
          border-radius: 3px;
          border: none;
          @include link-transition;
      }
      button:hover {
        background-color: $lavander;
     }
   }
}

#primer {
    background-color: white;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

#so-what {
    background-color: $light-blue;
    color: $grey;
    text-align: center;
    h2 {
      color: white;
   }
   a {
      color: white;
      button {
         padding: 15px 30px;
         background-color: $bright-blue;
         border-radius: 3px;
         border: none;
         @include link-transition;
      }
      button:hover {
         background-color: $dark-blue;
      }
   }
}
/* end landing page */
