html {
  height: 100%; }

body {
  font-family: "Muli", Helvetica, sans-serif;
  color: #4A4A4A;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2; }

.pushFooter {
  flex: 1; }

/* navbar */
.navbar-default {
  z-index: 9999;
  background: none;
  margin: 0;
  background-color: #4A4A4A;
  border: none;
  border-radius: 0; }
  .navbar-default .navbar-header a {
    color: #64D4FF;
    -webkit-transition: all 0.3s ease-in-out;
    /* Safari */
    transition: all 0.3s ease-in-out; }
  .navbar-default .navbar-header a:hover {
    color: rgba(100, 212, 255, 0.3); }
  .navbar-default .navbar-nav li a {
    font-family: "Muli", Helvetica, sans-serif;
    color: #64D4FF;
    -webkit-transition: all 0.3s ease-in-out;
    /* Safari */
    transition: all 0.3s ease-in-out; }
  .navbar-default .navbar-nav li a:hover {
    color: rgba(100, 212, 255, 0.3); }

/* footer */
footer {
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #4A4A4A;
  color: #F2F2F2; }

/* video */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.filter {
  display: table; }

/* landing page */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, serif; }

.content-container {
  padding: 80px 150px; }
  .content-container h2 {
    text-align: center;
    font-weight: 700;
    color: #15A8E0;
    font-style: italic; }
  .content-container h3 {
    text-align: left;
    font-weight: 400;
    color: #FD504A; }
  .content-container h4 {
    text-align: center;
    font-weight: 300;
    color: #4A4A4A; }

#landing-image {
  background-color: #4A90E2; }

#call-to-action {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white; }
  #call-to-action h1 {
    font-size: 48px; }
  #call-to-action a {
    color: white; }
    #call-to-action a button {
      padding: 15px 30px;
      background-color: #4A90E2;
      border-radius: 3px;
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      /* Safari */
      transition: all 0.3s ease-in-out; }
    #call-to-action a button:hover {
      background-color: #A0CCFF; }

#primer {
  background-color: white; }
  #primer img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#so-what {
  background-color: #15A8E0;
  color: #F2F2F2;
  text-align: center; }
  #so-what h2 {
    color: white; }
  #so-what a {
    color: white; }
    #so-what a button {
      padding: 15px 30px;
      background-color: #64D4FF;
      border-radius: 3px;
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      /* Safari */
      transition: all 0.3s ease-in-out; }
    #so-what a button:hover {
      background-color: #1399CC; }

.animate {
  position: relative; }

/* end landing page */

/*# sourceMappingURL=style.css.map */
